XML Assignments/unit 3/ass3_4_1.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3.org/2001/XMLSchema file:/C:/Program%20Files%20(x86)/Exchanger%20XML%20Editor%203.3/types/XML%20Schema/Validation/XMLSchema.xsd">
	<xsd:element name="employee">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="child" maxOccurs="2">
					<xsd:complexType>
						<xsd:choice>
							<xsd:element name="male"></xsd:element>
							<xsd:element name="female"></xsd:element>
						</xsd:choice>
					</xsd:complexType>
						
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
